<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
</head>
<body>
<h1>Voer sporter metERROR goud in</h1>
<form th:object="${person}" th:action="personSave" method="post">
<input type="text" th:field="*{firstName}" placeholder="firstname"/>
<input type="text" th:field="*{lastname}" placeholder="lastname"/>
<input type="submit" value="Submit"/>
</form>
</body>
</html>